# Pasta do Ambiente Virtual do Backend
backend/.venv/

# Arquivo de Segredos do Backend
backend/.env

# Arquivos de Cache do Python
backend/app/__pycache__/
__pycache__/

# Arquivos de Cache do Frontend
frontend/node_modules/
frontend/.DS_Store
frontend/dist/

# Logs e arquivos de build
*.log
*.sql